.App {
  display: flex;
  
}
.left_box{
  width: 50%;
  background-color: aqua;
  margin-right: 20px;
}
.right_box{
  width: 50%;
  padding: 10px;
  background-color: aquamarine;
}

@media screen and (max-eidth:450px) {
  .left_box{
    margin: auto;
  }

  .right_box{
    margin: auto;
  }

  .App{
    display: none;
  }
}